$pathToIcon: '../../../../../assets/icons/addCardIcons';

.AddCard {
  position: relative;
  padding: 30px;
  max-width: 502px;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 20px;

  input {
    width: 100%;
    margin-top: 20px;
    padding-left: 53px;
  }

  .container {
    &_DaNCVVInputs {
      display: flex;
      gap: 13px;
    }

    &_BtnContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 34px;
    }
  }

  .numberOfCardInput {
    background-image: url('#{$pathToIcon}/NumberOfCardIcon.svg');
  }
  .dateOfCardInput {
    background-image: url('#{$pathToIcon}/DateOfCardIcon.svg');
  }
  .CVVInput {
    background-image: url('#{$pathToIcon}/CVVIcon.svg');
  }
  .nameOfCardOwnerInput {
    background-image: url('#{$pathToIcon}/NameOfCardOwnerIcon.svg');
  }
}
