.slider {
  background-color: transparent;
  position: relative;
  z-index: 0;

  &_next {
    position: absolute;
    right: -30px;
    top: 50%;
    z-index: 1;
    transform: translate(100%, -50%);
  }

  &_prev {
    position: absolute;
    left: -30px;
    top: 50%;
    z-index: 1;
    transform: rotate(180deg) translate(100%, 50%);
  }

  @media (max-width: 1024px) {
    &_next,
    &_prev {
      display: none;
    }
  }
}
