@import "/src//styles/globalMixins.scss";

.about {
	h1 {
		line-height: 100%;
		font-size: 35px;
	}
	@include adaptive-size(240, 15, padding-bottom);
	@include adaptive-size(80, 20, padding-top);

	padding-left: 15px;
	padding-right: 15px;

	&_wrapper {
		@include adaptive-size(70, 20, padding-top);
		@include adaptive-size(115, 40, padding-bottom);
		padding-left: 25px;
		padding-right: 25px;

		background: #eff7fb;
		border-radius: 20px;

		max-width: 1440px;

		display: flex;
		align-items: center;
		flex-direction: column;

		font-weight: 500;
		color: #37454e;
		margin: 0 auto;
	}

	&_title {
		@include adaptive-size(55, 13, margin-bottom);
	}

	&_img {
		@include adaptive-size(65, 50, margin-bottom);

		max-width: 1146px;
		max-height: 460px;
		width: 100%;
		height: auto;

		border-radius: 20px;
		// object-fit: contain;
	}

	&_descr {
		@include adaptive-size(25, 15, font-size);
		line-height: 100%;
		@include adaptive-size(30, 15, margin-bottom);
	}

	&_text {
		@include adaptive-size(20, 10, font-size);
		line-height: 100%;
	}

	&_accent {
		@include adaptive-size(30, 15, font-size);
		line-height: 100%;
		@include adaptive-size(80, 40, margin-top);
		@include adaptive-size(20, 15, padding-top);
		@include adaptive-size(80, 15, padding-right);
		@include adaptive-size(20, 15, padding-bottom);
		@include adaptive-size(80, 15, padding-left);

		background-color: var(--color-bg-white);
		border-radius: 20px;
	}

	p {
		max-width: 1030px;
		display: block;
	}
}
