.NewsSection {
  padding-left: 100px 15px;
  padding-bottom: 100px;

  max-width: 1185px;
  margin: 0 auto;

  &_title {
    margin-bottom: 55px;
  }

  &_newsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  &_slider {
    position: relative;
    padding: 0 40px;
    z-index: 0;
  }

  &_swiper {
    div:first-child {
      align-items: stretch;
    }
  }

  &_sliderSlide {
    height: auto;
  }

  &_newsCard {
    height: 100%;
  }

  &_sliderBtn {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
  }

  &_sliderBtnNext {
    right: 0px;
  }

  &_sliderBtnPrev {
    left: 0px;
  }

  @media (max-width: 1024px) {
    display: none;
  }
}
