.SortButtons {
  display: flex;
  align-items: center;
  gap: 22px;
  flex-wrap: wrap;
  margin-bottom: 30px;

  @media (max-width: 1024px) {
    display: none;
  }
}

.filterBtn {
  padding: 4px 26px;
  color: #969696;
  border: 1px solid #969696;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 400;
}

.activeBtnFilter {
  padding: 4px 26px;
  color: #969696;
  border: 1px solid #969696;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-bg-white);
  background-color: var(--color-accent);
  border: 1px solid var(--color-accent);
}
