.Register {
  .inputName {
    margin-bottom: 20px;
    background-image: url('../../../../assets/icons/authIcons/InputNameIcon.svg');
  }

  .inputPhoneNumber {
    margin-bottom: 35px;
    background-image: url('../../../../assets/icons/authIcons/InputPhoneNumberIcon.svg');
  }
}
