.CatalogPage {
  background-color: #f8f8f8;

  &_wrapper {
    max-width: 1700px;
    padding: 100px 15px 75px 15px;
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 40px;
    position: relative;
    height: 100%;

    @media (max-width: 1024px) {
      display: block;
    }
  }
}
