.addBtn {
  padding: 12px 25px;
  margin-bottom: 15px;

  display: flex;
  align-items: center;
  gap: 11px;
  background-color: #fff !important;
  border-radius: 50px;
  color: var(--color-font-title);

  svg {
    width: 20px;
    height: 20px;
  }
}

.cards {
  padding: 15px;
  background-color: var(--color-bg-white);
  border-radius: 15px;

  h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 32px;
    /* identical to box height, or 119% */

    color: var(--color-font-title);
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }

  &_listItem {
    display: flex;
    align-items: flex-end;
    gap: 30px;
  }

  &_cardSkeleton {
    background: #f8f8f8;
    border-radius: 15px;
    padding: 11px 28px 28px 17px;
    width: 367px;
    height: 220px;
    position: relative;

    h3 {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;

      color: var(--color-font-title);
      margin-bottom: 18px;
    }
  }

  &_cardNumber {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: var(--color-font-title);
  }

  &_typeOfPayment {
    display: flex;
    align-items: center;
    gap: 33px;
    position: absolute;
    bottom: 0;
    bottom: 28px;
    right: 28px;
  }

  &_btns {
    display: flex;
    gap: 30px;

    button,
    label {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;

      color: var(--color-font-title);
    }

    label {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}
