@import "/src//styles/globalMixins.scss";

.wrapper {
  display: flex;
  gap: 100px;
  align-items: flex-start;

  &_del {
    align-items: stretch;
  }
}

.descrText {
  @include adaptive-size(20, 15, font-size);
  @include adaptive-size(30, 22, line-height);
  font-weight: 500;
  color: var(--color-font-title);
}

.images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 177px;

  &_del {
    justify-content: space-between;
  }
}

.methods {
  display: flex;
  align-items: center;
  gap: 35px;
}

.accentLink {
  color: var(--color-accent);
}

.mobile {
  display: none;
  padding: 20px 15px 75px 15px;
  color: var(--color-font-title);

  &_title {
    margin-bottom: 15px;
  }

  &_wrapper {
    background: #eff7fb;
    border-radius: 10px;
    padding: 16px;
  }

  &_accordion {
    // background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &_accItem {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border-radius: 10px;
    transition: all 0.3s ease;

    svg {
      transition: all 0.3s ease;
      path {
        transition: all 0.3s ease;
      }
    }

    color: #39424b;

    &.active {
      color: var(--color-accent);

      svg {
        transition: all 0.3s ease;
        transform: rotate(90deg);

        path {
          transition: all 0.3s ease;

          stroke: var(--color-accent);
        }
      }
    }
  }

  &_accBody {
    background: #eff7fb;
  }

  &_accBodyTitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
    display: block;
    text-transform: capitalize;
    padding-top: 18px;
  }

  &_images {
    padding: 60px 0;
    gap: 60px;
  }
}

@media (max-width: 1024px) {
  .mobile {
    display: block;
  }
}
