.inputContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  background: var(--input-bg-color);
  border-radius: 15px;
  padding: 3% 5%;
  border: none;
  margin: 20px auto;
}

.inputInstance {
  width: 100%;
  height: auto;
  background: transparent;
  padding-left: 15px;
  border: none;
  font-size: 16px;

  &::placeholder {
    color: #c0c0c0;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
}

.errorBorder {
  border: 1px solid var(--error-border-color);
}
