.ServicesSection {
  input,
  select {
    border: 1px solid rgba(91, 99, 106, 0.7);
  }

  label {
    display: block;
    margin: 20px 0 30px 0;
    font-size: var(--font-size-default);
  }

  .SSectionInputContainer {
    .markInput {
      width: 50%;
      border: 1px solid var(--color-accent-secondary);
    }
  }

  .chooseBtn {
    .buttons {
      display: flex;
      align-items: center;
      gap: 25px;
      position: relative;
      font-weight: 400;
      font-size: var(--font-auth-toggle-button-size);

      button {
        border-radius: 10px;
        padding: 15px 17px;
        font-size: var(--font-size-small);
        width: 100%;
        max-width: 275px;
      }

      .default {
        border: 1px solid var(--color-bg-grey);
      }

      button.active {
        color: var(--color-bg-white);
        background-color: var(--color-accent);
      }
    }
  }

  .chooseTypeContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;

    .chooseTypeQnW {
      display: flex;
      align-items: center;
      gap: 15px;
    }
  }
}

@media (max-width: 750px) {
  .ServicesSection {
    .chooseBtn {
      .buttons {
        display: block;

        button:first-child {
          margin: 0 10px 15px 0;
        }
      }
    }

    .chooseTypeContainer {
      display: block;
    }

    .SSectionInputContainer {
      .markInput {
        width: 100%;
      }
    }

    .chooseTypeContainer {
      display: block;

      .chooseTypeQnW {
        display: block;

        button {
          display: none;
        }
      }
    }
  }
}
