$pathToIcon: '../../../../assets/icons/servicesIcons';

.PdfPrintShareFeatures {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;

  button,
  a {
    padding-left: 30px;
    font-size: var(--font-size-small);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: calc(0px) 50%;
    transition: all 0.3s ease-in-out;
  }

  .pdfBtn {
    background-image: url('#{$pathToIcon}/ServicesPdfIcon.svg');
  }

  .printBtn {
    background-image: url('#{$pathToIcon}/ServicesPrintIcon.svg');
  }

  .shareBtn {
    background-image: url('#{$pathToIcon}/ServicesShareIcon.svg');
  }

  button:hover,
  a:hover {
    transform: scale(1.05);
  }
}

@media (max-width: 750px) {
  .PdfPrintShareFeatures {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;

    button,
    a {
      padding-left: 20px;
      margin-bottom: 15px;
    }
  }
}
