.cabinet {
  display: block !important;
  background: #ffffff;
  /* ui\shadow */

  box-shadow: 1px 5px 19px -3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  //   width: 100%;
  max-width: 361px;
  margin: 0 auto;

  &_wrapper {
    background: #f8f8f8;
    padding: 30px 15px;
  }
}
