@import "/src//styles/globalMixins.scss";

.orderHistoryCard {
  background: #f8f8f8;
  border-radius: 5px;
  padding: 20px;
  padding-bottom: 35px;
  color: var(--color-font-title);
  font-size: 13px;

  max-width: 250px;

  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.02);
    opacity: 0.9;
  }
}

.img {
  margin-bottom: 15px;
}

.name {
  @include adaptive-size(10, 5, margin-bottom);
  font-weight: 600;
}

.descr {
  @include adaptive-size(50, 35, margin-bottom);
  font-weight: 400;
}

.status,
.date {
  align-self: flex-start;
  font-weight: 400;
}

.number {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #39424b;
  text-align: start;
}

.weight__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #39424b;
  margin-top: 9px;
  margin-bottom: 5px;
}

.text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #39424b;
}

.order_info {
  margin-top: 10px;
  padding-top: 5px;
  border-top: 1px solid #c9d0d9;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
