@import "/src/styles/globalMixins.scss";

.SertificatesSection {
  position: relative;
  @include adaptive-size(100, 20, padding-top);
  @include adaptive-size(100, 20, padding-bottom);
  padding-left: 60px;
  padding-right: 60px;

  max-width: 1185px;
  margin: 0 auto;

  &_title {
    margin-bottom: 60px;
  }
}

.slider {
  margin-bottom: 18px;
  //   overflow: visible;

  &_next,
  &_prev {
    position: absolute;
    top: 60%;
    z-index: 1;
    transform: translateY(-50%);
    // padding: 20px;
    border-radius: 100%;
    border: 1px solid #f6bf0c;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_next {
    right: 5px;
  }

  &_prev {
    left: 5px;
  }

  &_link {
    display: block;
    text-align: center;
    color: var(--color-accent);
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
  }

  @media (max-width: 425px) {
    &__img {
      width: 100%;
      object-fit: contain;
    }
  }
}
