:root {
  --max-width: 1100px;

  /* fonts */
  --font-family-main: 'Montserrat', serif;

  --font-size-default: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
  --font-button-size-default: calc(14px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
  --font-auth-toggle-button-size: calc(14px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
  --font-line-default: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
  --font-default: var(--font-size-default) / var(--font-line-default) var(--font-family-main);

  --font-size-getSmsCode: calc(12px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
  --font-size-title: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
  --font-line-title: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
  --font-title: var(--font-size-title) / var(--font-line-title) var(--font-family-main);

  /* colors */
  --color-accent: #00abc2;
  --color-accent-secondary: #f6bf0c;

  --color-bg-grey: #bfbfbf;
  --color-bg-white: #ffffff;

  --color-font-title: #39424b;
  --color-font-descr: #37454e;

  --input-bg-color: #f8f8f9;
}

* {
  box-sizing: border-box;
  font: var(--font-default);
  outline: transparent;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--color-font-descr));
  background: var(--color-bg-grey);
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

.title {
  color: var(--color-font-title);
  font: var(--font-title);
  font-weight: 600;
}

ul {
  list-style-type: none;
}
