.Authorization {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.formContainer {
  text-align: center;
  width: 459px;
  height: 386px;
  background: #ffffff;
  border-radius: 20px;
}
