.AboutSection {
	max-width: 1185px;
	padding: 100px 15px;
	margin: 0 auto;

	&_title {
		margin-bottom: 50px;
	}

	&_descrWrapper {
		display: flex;
		justify-content: space-between;
	}

	&_descrText {
		font-size: 16px;
		font-weight: 400;

		p {
			line-height: 150%;
		}
	}

	&_text {
		margin-bottom: 25px;
	}

	&_descrAccent {
		padding: 22px 40px;
		background-color: #eff7fb;
		border-radius: 20px;
	}

	&_descrImage {
		margin-right: 40px;
		width: auto;
	}
}

@media (max-width: 1024px) {
	.AboutSection {
		display: none;
	}
}
