.slider {
  position: relative;

  &_slide {
    padding: 15px;
  }

  &_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &_btnNext {
    right: -90px;
  }

  &_btnPrev {
    left: -90px;
  }

  @media (max-width: 1024px) {
    &_btn {
      display: none;
    }
  }
}
