.ShowChangePassword {
  position: relative;
  padding: 15px 30px;
  background-color: white;
  border-radius: 15px;

  .title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 15px;
  }

  .btnContainer {
    display: block;
    margin-top: 42px;

    .btn {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:first-child {
        margin-bottom: 20px;
      }

      p {
        font-size: 16px;
      }
    }
  }

  .SentToEmailOrPhoneNumber {
    .sendAgainContainer {
      margin-bottom: 15px;

      &_sendAgain {
        color: var(--color-accent);
        border-bottom: 1px dashed var(--color-accent);
      }
    }
  }

  .ShowChangePasswords {
    text-align: center;
    margin: 15px 20px;

    .errorMessageCls {
      color: #e44040;
      margin-bottom: 15px;
    }
  }
}
