@import "/src//styles//globalMixins.scss";

.ProductsSection {
  @include adaptive-size(100, 20, padding-top);
  @include adaptive-size(100, 20, padding-bottom);
  padding-left: 15px;
  padding-right: 15px;

  max-width: 1185px;
  margin: 0 auto;

  &_title {
    @include adaptive-size(55, 15, margin-bottom);
  }

  &_list {
    @include adaptive-size(20, 8, gap);

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_item {
    @include adaptive-size(395, 115, max-width);
    @include adaptive-size(357, 129, max-height);
  }

  &_link {
    display: flex;
    flex-direction: column;
  }

  &_img {
    @include adaptive-size(395, 115, max-width);
    @include adaptive-size(295, 87, max-height);

    width: 100%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
  }

  &_imgDescr {
    @include adaptive-size(20, 10, padding-top);
    @include adaptive-size(100, 5, padding-right);
    @include adaptive-size(20, 10, padding-bottom);
    @include adaptive-size(100, 5, padding-left);

    // padding: 20px 100px;
    background-color: var(--color-accent);
    transform: translateY(-2px);
    width: 100%;
    color: var(--color-bg-white);
    text-align: center;
    border-radius: 0px 0px 15px 15px;
    text-transform: uppercase;
    font-weight: 600;
  }
}
