@import "/src//styles/globalMixins.scss";

.Title {
  font-family: var(--font-family-main);
}

.main {
  @include adaptive-size(45, 21, font-size);
  @include adaptive-size(45, 21, line-height);
  @include adaptive-size(25, 10, padding-top);
  @include adaptive-size(25, 10, padding-bottom);
  display: block;
  width: 100vw;
  margin-left: calc((100vw - 100%) / 2 * -1);
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  background-image: url(../../assets/images/ImageTitleDecor.svg);
  background-repeat: repeat-x;
  background-size: contain;
}
