.GetSmsCode {
  div,
  p,
  span {
    font-size: var(--font-size-getSmsCode);
  }

  p {
    color: var(--error-border-color);
    margin-bottom: 10px;
  }

  .confirmSmsCode {
    margin-bottom: 20px;
  }

  .password {
  }

  .confirmPassword {
  }
  .isEmail {
    display: block;
    width: 100%;
  }
}

.sendAgain {
  color: var(--color-accent);
  border-bottom: 1px dashed var(--color-accent);
  margin-bottom: 12px;
}
