.GetSmsCode {
  div,
  p,
  span {
    font-size: var(--font-size-getSmsCode);
  }

  p {
    color: var(--error-border-color);
    margin-bottom: 10px;
  }

  span {
    color: var(--color-accent);
    border-bottom: 1px dashed var(--color-accent);
  }
}
