.orders {
  width: 100%;
  overflow: hidden;

  color: var(--color-font-title);

  &_wrapper {
    padding: 15px 35px 100px 35px;
    background: var(--color-bg-white);
    border-radius: 15px;
  }

  &_title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    margin-bottom: 10px;
  }

  &_subTitle {
    display: block;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;

    margin-bottom: 43px;
  }

  &_slider {
    width: 83%;
    // max-width: 57vw;
    // width: 47.6vw;
    margin: 0 auto;
  }

  @media (max-width: 1024px) {
    &_slider {
      width: 100%;
    }
  }
}

.orderCard {
  background: #f8f8f8;
  border-radius: 5px;
  padding: 20px;
  font-size: 13px;
  line-height: 16px;
  max-width: 400px;
  margin: 0 auto;

  color: var(--color-font-title);

  display: flex;
  flex-direction: column;
  position: relative;

  &_img {
    margin-bottom: 10px;
    align-self: center;
  }

  &_title {
    margin-bottom: 10px;
    font-size: 13px;
    align-self: center;
  }

  &_descr {
    margin-bottom: 12px;
    align-self: center;
  }

  &_delivery {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
  }
}

.bold {
  font-weight: 500;
}

.title {
  margin-bottom: 5px;

  &:not(:first-child) {
    margin-top: 5px;
  }
}

.border {
  border-top: 1px solid #8699ac;
  padding-top: 8px;
}

.date {
  position: absolute;
  top: 0;
  right: 0;
}

.backLink {
  position: absolute;
  left: -5%;
  transform: translateX(-100%);
  z-index: 2;
}
