.GetCurrency {
  &_dateContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #39424b;

    p > span {
      color: #00abc2;
    }
  }

  &_currenciesContainer {
    padding: 20px 10px;
  }

  &_main {
    border: 1px solid #a4b0bb;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 101px;

    a {
      display: flex;
      justify-content: flex-end;
      color: #00abc2;
    }

    p {
      align-self: flex-end;
    }
  }
}

.currencyIntro {
  display: flex;
  align-items: center;
  background-color: #fafafa;
  margin-bottom: 10px;
  padding: 5px 0;

  .currencyIntroData {
    position: relative;
    width: 100%;
    margin-left: 18px;

    .currencyValue {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.currencyIntro:nth-child(2) {
  background-color: white;
}

@media (max-width: 750px) {
  .GetCurrency {
    max-width: 600px;
    max-height: 280px;
    padding: 21px;
    border-radius: 10px;
    box-shadow: 1px 5px 19px -3px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
