@import '@/styles/globalMixins.scss';

$fz: 18;
$fz_mob: 14;

$fz_descr: 16;
$fz_descr_mob: 12;

$margins: 12;
$margins_mob: 5;

.Header {
  max-width: 1447px;
  padding: 0 15px;
  margin: 0 auto;
}

.contacts_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 31px;
  padding-bottom: 13px;
  color: var(--color-font-title);

  &_geoTag {
    .link {
      display: flex;
      align-items: center;
    }

    .icon {
      margin-right: 8px;
    }

    .city {
      font-size: 16px;
      font-weight: 500;
      border-bottom: 2px dashed var(--color-font-title);
    }
  }

  &_contacts {
    display: flex;
    align-items: center;

    .icon {
      @include adaptive-1024($margins, $margins_mob, margin-right);
    }

    .phone,
    .phone-secondary {
      @include adaptive-1024($fz, $fz_mob, font-size);
      font-weight: 500;
      transition: color 0.3s ease;

      &:hover {
        color: var(--color-accent);
      }
    }

    .phone-secondary:not(:last-child) {
      @include adaptive-1024($margins, $margins_mob, padding-right);
      @include adaptive-1024($margins, $margins_mob, padding-left);
      border-left: 1px solid #a4b0bb;
    }
    .phone-secondary:last-child {
      @include adaptive-1024($margins, $margins_mob, padding-left);
      border-left: 1px solid #a4b0bb;
    }

    .main-phone {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;

      .phone {
        @include adaptive-1024($margins, $margins_mob, margin-right);
      }
    }

    .phone-descr {
      @include adaptive-1024($margins, $margins_mob, margin-right);
      @include adaptive-1024($fz_descr, $fz_descr_mob, font-size);

      color: #a4b0bb;
      font-weight: 500;
    }
  }

  &_card {
    .card-link {
      display: flex;
      align-items: center;
    }

    .icon {
      @include adaptive-1024($margins, $margins_mob, margin-right);
    }

    span {
      @include adaptive-1024($fz, $fz_mob, font-size);
      font-weight: 500;
    }
  }

  &_user {
    .icon {
      @include adaptive-1024($margins, $margins_mob, margin-right);
    }

    .user-link {
      display: flex;
      align-items: center;
    }

    span {
      @include adaptive-1024($fz, $fz_mob, font-size);
      font-weight: 500;
    }
  }

  &_mobileLogo {
    display: none;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;

  &_logo {
    margin-right: 20px;
  }

  &_list {
    display: flex;
    margin-right: 20px;

    &_item {
      @include adaptive-1024($fz, $fz_mob, font-size);
      color: var(--color-font-title);
      font-weight: 400;
      transition: color 0.3s ease;
      width: max-content;

      &:hover {
        color: var(--color-accent);
      }
    }

    &_item:not(:last-child) {
      margin-right: 17px;
    }
  }

  &_search {
    @include adaptive-1024(437, 350, width);
    position: relative;
    border: 1px solid #a4b0bb;
    border-radius: 40px;
    padding: 12px 35px 12px 18px;
    outline: transparent;
    min-width: max-content;
    font: 12px / 12px var(--font-family-main);
    background-image: url('../../assets/icons/IconSearch.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 18px) 50%;

    &::placeholder {
      color: #a4b0bb;
    }
  }
}

@media (max-width: 1024px) {
  .contacts_list_contacts,
  .contacts_list_card,
  .contacts_list_user,
  .nav_list,
  .nav_logo {
    display: none;
  }

  .nav_search {
    width: 100%;
    font: 14px / 14px var(--font-family-main);
  }

  .contacts_list_mobileLogo {
    display: block;
  }
}
