@import "/src//styles//globalMixins.scss";

.CatalogItemPage {
  &_wrapper {
    position: relative;

    @media (max-width: 1024px) {
      display: block;
    }
  }

  &_itemCard {
    @include adaptive-size(40, 15, padding-top);
    @include adaptive-size(40, 15, padding-bottom);
    @include adaptive-size(35, 15, padding-left);
    @include adaptive-size(35, 15, padding-right);
    @include adaptive-size(70, 15, gap);

    border-radius: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--color-bg-white);

    .card {
      flex: 1 1 auto;

      &_title {
        @include adaptive-size(35, 20, font-size);
        @include adaptive-size(40, 25, line-height);
        @include adaptive-size(17, 5, margin-bottom);

        font-weight: 700;
        color: var(--color-font-title);
      }

      &_subTitle {
        @include adaptive-size(35, 17, font-size);
        @include adaptive-size(35, 25, line-height);
        @include adaptive-size(20, 7, margin-bottom);

        font-weight: 500;

        color: var(--color-font-title);
      }

      &_code {
        @include adaptive-size(20, 12, font-size);
        @include adaptive-size(25, 18, line-height);
        @include adaptive-size(35, 10, margin-bottom);

        color: #a4b0bb;
        font-weight: 500;
        display: block;
      }

      &_content {
        @include adaptive-1024(50, 20, gap);
        display: flex;
      }

      &_img {
        @include adaptive-1024(511, 255, width);
        @include adaptive-1024(511, 255, height);
        @include adaptive-1024(80, 10, margin-top);

        object-fit: contain;

        box-shadow: 2px 4px 35px rgba(158, 165, 187, 0.2);
        border-radius: 40px;
      }

      &_contentDescr {
        width: 100%;
        max-width: 34vw;

        .inStock,
        .outStock {
          @include adaptive-size(24, 12, font-size);
          @include adaptive-size(29, 18, line-height);
          @include adaptive-size(30, 10, margin-bottom);
          @include adaptive-size(20, 15, gap);

          display: flex;
          align-items: center;
        }

        .inStock {
          color: #a8d982;
        }

        .outStock {
          color: #d98582;
        }

        @media (max-width: 1024px) {
          max-width: 100%;
        }
      }

      &_colors {
        @include adaptive-size(70, 15, margin-bottom);

        div {
          display: flex;
          gap: 10px;
        }

        img {
          @include adaptive-size(40, 30, width);
          @include adaptive-size(40, 30, height);
          border-radius: 50%;
        }
      }

      &_descr {
        @include adaptive-size(20, 12, font-size);
        @include adaptive-size(25, 16, line-height);
        @include adaptive-size(30, 10, margin-bottom);
      }

      &_charList {
        &:not(:last-child) {
          @include adaptive-size(30, 10, margin-bottom);
        }

        &:last-child {
          @include adaptive-size(55, 10, margin-bottom);
        }
      }

      &_descrItem {
        @include adaptive-size(20, 12, font-size);
        @include adaptive-size(25, 16, line-height);
        @include adaptive-size(15, 10, padding-bottom);
        @include adaptive-size(15, 10, padding-top);

        font-weight: 400;

        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px dashed #cdcdcd;
        border-radius: 5px;

        color: var(--color-font-title);
      }
    }

    .info {
      .buyActions {
        @include adaptive-1024(25, 15, padding-top);
        @include adaptive-1024(25, 15, padding-bottom);
        @include adaptive-1024(35, 15, padding-right);
        @include adaptive-1024(35, 15, padding-left);

        background: #f8f8f8;
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 20px;

        &_discont {
          @include adaptive-size(20, 12, font-size);
          @include adaptive-size(25, 16, line-height);
          @include adaptive-size(30, 10, margin-bottom);
          @include adaptive-1024(20, 10, gap);

          display: flex;
          align-items: center;
          justify-content: space-between;

          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          margin-bottom: 25px;

          color: var(--color-title);

          span:first-child {
            font-size: 24px;
          }
        }

        &_price {
          font-weight: 400;
          font-size: 35px;
          line-height: 40px;
          margin-bottom: 30px;

          color: var(--color-title);
        }

        &_btn {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          gap: 10px;
          @include adaptive-1024(24, 16, font-size);

          padding: 20px 10px;
          //   font-size: 24px;
          width: 80%;
          background-image: none;
          margin-bottom: 15px;

          @media (max-width: 1024px) {
            font-size: 24px;
          }
          @media (max-width: 640px) {
            padding: 15px;
          }

          &__count {
            position: absolute;
            top: -10px;
            color: white;
            right: -10px;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background: #f6bf0c;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            /* or 120% */

            color: #ffffff;
          }
        }

        &_secondaruBtns {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          margin-top: 35px;

          .secondaryBtn {
            @include adaptive-1024(20, 16, font-size);

            display: flex;
            align-items: center;
            gap: 7px;

            font-weight: 400;
            line-height: 25px;

            color: var(--color-title);

            @media (max-width: 1024px) {
              font-size: 20px;
            }
          }
        }
      }

      .delivery {
        @include adaptive-size(18, 10, gap);

        padding: 25px 35px;
        background: #f8f8f8;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        span {
          @include adaptive-size(16, 12, font-size);
          font-weight: 400;
          line-height: 19px;

          color: var(--color-title);

          &:first-child {
            @include adaptive-size(20, 16, font-size);
          }
        }
      }
    }
  }

  &_more {
    width: 100%;
    height: 450px;
    border-radius: 30px;
    background-color: #767676;
    opacity: 0.3;
    margin-top: 80px;
  }

  .mobileDescr {
    display: none;

    &_body {
      padding-top: 10px;
    }
  }

  .char {
    &_accTitle {
      background-color: transparent;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease;
      color: var(--color-accent);

      display: flex;
      align-items: center;
      gap: 20px;

      &:hover {
        opacity: 0.7;
      }
    }

    &_accIcon {
      transition: all 0.3s ease;
    }

    &_accIconActive {
      transform: rotate(90deg);
    }
  }

  @media (max-width: 1024px) {
    &_itemCard {
      flex-direction: column;
    }

    &_itemCard .card {
      width: 100%;
    }

    &_itemCard .info {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  @media (max-width: 768px) {
    .pcDescr {
      display: none;
    }

    .mobileDescr {
      display: block;
    }

    &_itemCard .card {
      &_content {
        flex-direction: column;
        align-items: center;
      }
    }

    &_itemCard .info {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column-reverse;

      .buyActions,
      .delivery {
        width: 100%;
        background-color: transparent;
        padding: 0;
      }

      .delivery {
        margin-bottom: 35px;
        border-top: 1px solid #d8e0e9;
        padding-top: 24px;
      }

      .buyActions {
        align-items: flex-start;

        &_price {
          font-weight: 600;
        }

        &_btn {
          width: 50%;
        }

        &_secondaruBtns .secondaryBtn {
          font-size: 16px;
        }
      }
    }
  }

  @media (max-width: 500px) {
    &_itemCard .info .buyActions {
      &_btn {
        font-size: 16px;
        width: 100%;
      }
    }
  }
}

.cartPlus {
  display: flex;
  align-items: center;
}

.cartBtn {
  display: flex;
  align-items: center;
  border: 1px solid #00abc2;
  border-radius: 15px;
  padding: 15px 25px;
  max-width: 250px;
  width: 100%;
  justify-content: space-between;
  animation: opacity 200ms ease-in;
  margin: 0 auto;
  @media (max-width: 450px) {
    max-width: 100%;
    padding: 10px 20px;
  }
}

.cartCounter {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #00abc2;
  @media (max-width: 640px) {
    font-size: 16px;
  }
}

.cartMinus,
.cartPlus {
  background: transparent;
  padding: 0;
  border: none;
  margin: 0;
  cursor: pointer;
}

.cartMinus {
  margin-top: -7.5px;
}
