@import '../../../styles/globalMixins.scss';

.Button {
  font-family: var(--font-family-main);
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

// Themes
.blue,
.yellow,
.card,
.buy {
  color: var(--color-bg-white);
  border: none;
}

.clear {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

.blue {
  @include adaptive-size(18, 10, padding-top);
  @include adaptive-size(18, 10, padding-bottom);
  @include adaptive-size(30, 17, padding-left);
  @include adaptive-size(30, 17, padding-right);
  @include adaptive-size(30, 17, padding-right);
  @include adaptive-size(18, 12, font-size);

  background-color: var(--color-accent);
  color: var(--color-bg-white);

  font-weight: 600;
  border: none;
  border-radius: 6px;
  text-transform: uppercase;
}

.yellow {
  background-color: var(--color-accent-secondary);
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 50px;
}
