.Login {
  position: relative;

  .phoneNumberLogin {
    margin-bottom: 20px;
    background-image: url("../../../../assets/icons/authIcons/InputPhoneNumberIcon.svg");
  }

  .passwordLogin {
  }

  .error {
    font-size: 12px;
    position: absolute;
    color: red;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    bottom: -23px;
  }
}
