.ShowChangePhoneNumber {
  position: relative;
  padding: 30px 90px;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 20px;
  text-align: center;

  .sendAgainContainer {
    margin-bottom: 15px;

    &_sendAgain {
      color: var(--color-accent);
      border-bottom: 1px dashed var(--color-accent);
    }
  }
  .phoneNumberInput {
    margin-bottom: 20px;
    background-image: url('../../../../../assets/icons/authIcons/InputPhoneNumberIcon.svg');
  }

  .confirmSmsCode {
    padding-left: 17px;
  }

  .changePhoneNBtn {
    margin: 30px 0 40px;
  }

  .disabledInputCls {
    filter: opacity(0.5);
  }

  .errorMessage {
    margin: 20px 0 0;
    color: #e44040;
  }

  .successMessage {
    margin: 20px 0 0;
    color: var(--color-accent);
  }

  .errorBorder {
    border: 1px solid #e44040;
  }
}
