@import "/src//styles/globalMixins.scss";

.AdvantagesSection {
  @include adaptive-size(100, 20, padding-top);
  @include adaptive-size(100, 20, padding-bottom);
  padding-left: 15px;
  padding-right: 15px;

  max-width: 1185px;
  margin: 0 auto;

  &_title {
    @include adaptive-size(55, 35, margin-bottom);
  }

  &_sliderItem {
    height: auto !important;
  }

  &_item {
    padding: 50px 11px 20px 15px;

    background: #eff7fb;
    border-radius: 15px;
    position: relative;

    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    height: 100%;
    text-transform: uppercase;

    color: #37454e;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    p {
      line-height: 17px;
    }
  }

  &_itemStep {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #f6bf0c;
    font-weight: 600;
    font-size: 18px;
  }
}
