@import "/src/styles/globalMixins.scss";
$pathToIcon: "../../../../assets/icons";

.SideBar_SideBar_adventages__ZyoC_ {
  margin-bottom: 30px;
}

.SideBar {
  @include adaptive-1024(404, 350, width);

  label {
    cursor: pointer;
  }

  div {
    background-color: var(--color-bg-white);
    border-radius: 15px;
  }

  hr {
    margin-bottom: 23px;
    border: 1px solid #d8e0e9;
    border-radius: 20px;
  }

  &_adventages {
    padding: 3px 20px;
    display: flex;
    flex-direction: column;

    .radioBtn {
      position: relative;

      input:where([type="radio"]) {
        position: absolute;
        top: 5px;
        right: 0;
        -webkit-appearance: none;
        appearance: none;
        width: 22px;
        height: 22px;
        margin: calc(0.75em - 11px) 0.25rem 0 0;
        vertical-align: top;
        border: 2px solid #f6bf0c;
        border-radius: 4px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 0;
      }

      input:checked {
        transition: all;
        transition-duration: 300ms;
        background-color: #f6bf0c;
        background: no-repeat center center;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("#{$pathToIcon}/IconCardRadiobuttonChecked.svg");
      }
    }

    span:not(:last-child) {
      margin-bottom: 23px;
    }

    &_icon,
    &_link {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &_link {
      color: var(--color-accent);
    }

    &_item {
      display: flex;
      align-items: center;
      font-weight: 500;
    }
  }

  &_paymentMethods {
    padding: 15px 25px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;

    .radioBtn {
      position: relative;

      input:where([type="radio"]) {
        position: absolute;
        top: 5px;
        right: 0;
        -webkit-appearance: none;
        appearance: none;
        width: 22px;
        height: 22px;
        margin: calc(0.75em - 11px) 0.25rem 0 0;
        vertical-align: top;
        border-radius: 4px;
        border: 2px solid #f6bf0c;
        border-radius: 4px;
        background-repeat: no-repeat;
        background-position: center center;
      }

      input:checked {
        background: no-repeat center center;
        background-image: url("#{$pathToIcon}/IconCardRadiobuttonChecked.svg");
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    span {
      display: flex;
      align-items: center;
    }

    &_title {
      margin-bottom: 25px;
    }

    &_cards {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }

    &_label {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }

    &_icon {
      margin-right: 20px;
    }
  }

  &_payment {
    padding: 15px 35px 35px 35px;
    display: flex;
    flex-direction: column;

    span {
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
      color: var(--color-font-title);
    }

    &_address {
      display: flex;
      align-items: center;
      gap: 13px;
      margin-bottom: 31px;
    }

    &_btn {
      color: var(--color-accent);
    }

    &_title {
      margin-bottom: 15px;
      display: block;
    }

    &_table {
      span {
        margin-bottom: 22px;
      }
    }

    &_sum {
      justify-self: flex-end;
    }

    &_datePicker {
      position: relative;
      h4 {
        margin-bottom: 12px;
      }

      input[type="date"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        border: 1px solid var(--color-font-title);
        padding: 5px 10px;
        border-radius: 50px;
        outline: none;
        font-size: inherit;
        color: inherit;
        margin-bottom: 25px;
      }

      &_btnContainer {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 45px;
        flex-wrap: wrap;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      &_defaultBtn {
        padding: 15px 30px;
        border-radius: 50px;
        border: 1px solid var(--color-font-title);
      }

      &_pickedBtn {
        padding: 13px 30px;
        border-radius: 50px;
        border: none;
        background-color: #f6bf0c;
        color: white;
      }
    }
  }
}

.btn {
  border-radius: 15px;
}

@media (max-width: 1024px) {
  .SideBar {
    width: 100%;
  }
}

.mb {
  margin-bottom: 40px;
  padding: 30px;
}

.address {
  padding: 0;
  padding-bottom: 10px;

  span {
    margin-bottom: 10px;
  }

  label {
    margin: 0;
    padding: 3px 0;
    font-size: 16px;
    max-width: 80%;
  }
}

.dateBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid #39424b;
  padding: 5px 10px;
  border-radius: 50px;
  width: fit-content;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #39424b;
  margin-bottom: 10px;
}

.dateChoices {
  position: absolute;
  top: 90%;
  width: 100%;
  border-radius: 0;
  z-index: 1;
  animation: opacity 300ms;
}

.dateSelect {
  position: relative;
  width: fit-content;
}

.dateChoice {
  cursor: pointer;
  padding: 7px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #39424b;
  border-top: none;
  &:first-child {
    border-top: 1px solid #39424b;
  }
}

.btn:disabled {
  opacity: 0.5;
  cursor: auto;
}

@keyframes opacity {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
