@import "/src//styles/globalMixins.scss";

.delivery {
  &_addBtn {
    padding: 12px 25px;
    margin-bottom: 15px;

    display: flex;
    align-items: center;
    gap: 11px;
    background-color: #fff !important;
    border-radius: 50px;
    color: var(--color-font-title);

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &_adressList {
    display: flex;
    flex-direction: column;
    gap: 15px;

    h2 {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;

      margin-bottom: 25px;

      color: var(--color-font-title);
    }
  }

  &_adressListItem {
    background: #ffffff;
    border-radius: 15px;
    padding: 15px 30px 25px 30px;

    display: flex;
    flex-direction: column;

    span {
      display: flex;
      align-items: center;
      gap: 10px;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  &_btns {
    @include adaptive-768(200, 150, padding-left);
    @include adaptive-768-mob(16, 14, font-size);

    margin-top: 55px;
    align-self: flex-end;
    display: flex;
    gap: 25px;
    align-items: center;
    font-weight: 500;
    line-height: 19px;

    color: #39424b;

    button {
      display: flex;
      align-items: center;
      gap: 10px;
      font: inherit;
      font-size: inherit;
      font-weight: inherit;
      color: inherit;
    }

    input {
      margin-right: 10px;
    }
  }

  @media (max-width: 768px) {
    width: 100%;

    &_adressList {
      width: 100%;
    }

    &_adressListItem {
      width: 100%;
    }

    &_btns {
      width: 100%;
      border-top: 1px solid #d8e0e9;
      border-radius: 20px;
      padding-left: 0;
      padding-top: 20px;
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: repeat(2, 1fr);

      &_label {
        grid-column: 1;
        grid-row: 1;
      }

      &_edit {
        grid-column: 1;
        grid-row: 2;
      }

      &_delete {
        grid-column: 2;
        grid-row: 1 / span 2;
        align-items: center;
        justify-self: flex-end;
      }
    }

    &_form {
      width: 100%;
      max-width: 100% !important;
    }
  }
}
